@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --clr-primary-1: rgba(64, 6, 30, 0.1);
  --clr-primary-2:  rgba(64, 6, 30, 0.2);
   --clr-primary-3:  rgba(64, 6, 30, 0.3);
  --clr-primary-4:  rgba(64, 6, 30, 0.4);
  --clr-primary-5:  rgba(64, 6, 30, 0.5);
  --clr-primary-6:  rgba(64, 6, 30, 0.6);
  --clr-primary-7:  rgba(64, 6, 30, 0.7);
  --clr-primary-8: rgba(64, 6, 30, 0.8);
  --clr-primary-9:  rgba(64, 6, 30, 0.9);
  --clr-primary-10:  rgba(64, 6, 30, 1);


  --clr-grey-1: #000;
  --clr-grey-2: #111;
  --clr-grey-3: #222;
  --clr-grey-4: #333;
  --clr-grey-5: #444;
  --clr-grey-6: #555;
  --clr-grey-7: #666;
  --clr-grey-8: #777;
  --clr-grey-9: #888;
  --clr-grey-10: #fff;

  --clr-white: #fff;
  --clr-black: #000;

  --ff-primary: "Satoshi", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-5);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3.5rem;
  color: var(--clr-primary-6);
  text-align: center;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
.section {
  padding-top: 100px;
}
.btn {
  
  text-transform: uppercase;
  background: var(--clr-primary-4);
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  display: inline-block;
  border: 2px solid transparent;
  cursor: pointer;
}

/* section : navbar */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar {
  background: var(--clr-primary-9);
  padding: 1rem 2rem;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  /* overflow: hidden; */
}

.navbar .logo {
  width: 4rem;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .main-menu {
  display: none;
}
.navbar .main-menu-list,
.navbar .main-menu-icons {
  display: flex;
  gap: 2.0rem;
  align-items: center;
}
.navbar li {
  font-size: 1.5rem;
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: gray;
  transform: scale(1.1);
  cursor: pointer;
}


.navbar .mobile-menu {
  display: block;
}

.navbar .mobile-menu-list {
  /* position: absolute; */
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--clr-primary-4);
  text-align: center;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  z-index: 100;
  height: calc(100vh-80px);
}
.navbar .mobile-menu-list.active {
  transform: translateX(0);
}
.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */
  /* padding-top: 300px; */
  gap: 2rem;
  font-size: 1.2rem;
}
.navbar .mobile-menu-list li {
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
}
.navbar .mobile-menu-list li:hover {
  color: blue;
  cursor: pointer;
}
.fa-bars {
  font-size: 2rem;
  color: white;
}



.d1 {
    margin-top: 80px;
    padding: 20px;
    background-color: lightgrey;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
    
}


.hero {
width: 99vw;
aspect-ratio: 16/9;
position: relative;
background-repeat: no-repeat;
background-size: cover;
}

.hero-bg1 {
  position:absolute;
  display: none;
}

.hero-bg2 {
  position:absolute;
}

.hero2 {
  position:absolute;
   width: 30vw;
   height: 30vw;
  display: none;
}
.hero3 {
  position:absolute;
  width: 30vw;
   height: 30vw;
   display: none;
}
.hero4 {
  position:absolute;
  width: 30vw;
   height: 30vw;
  display: none;
}

.hero5 {
  position:absolute;
  width: 30vw;
   height: 30vw;
   display: none;
}

.hero6 {
  position:absolute;
  width: 30vw;
   height: 30vw;
   display: none;
}

.hero7 {
  position:absolute;
  width: 30vw;
   height: 30vw;
  display: none;
}

.d2 {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    font-size: 15px;

}

.d7, .d9, .d10, .d12, .d13, .d14, .d15, .d17, .d18 {
    cursor: pointer;
}


.d7:hover , .d9:hover , .d10:hover , .d12:hover , .d13:hover , .d14:hover , .d15:hover , .d17:hover , .d18:hover {
    transform: scale(1.2);
}





/* section footer */
.footer {
  background-color: var(--clr-primary-10);
  padding: 4rem;
  text-align: center;

  p {
    margin-bottom: 0;
    color: var(--clr-white);
    font-size: 1.25rem;
  }

 #date {
    color: var(--clr-white);
    font-size: 1.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }


}
.footer-menu-icons,
.footer-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
  margin: 1.5rem 0;

  a {
    color: var(--clr-white);
    padding: 1rem 0;
  }
}


@media (min-width: 600px)  {
.hero-bg2{display: block}
.hero-bg1, .hero2, .hero3, .hero4, .hero5, .hero6, .hero7{display:none}
} 


@media (min-width: 768px) {
.hero-bg2, .hero2, .hero3, .hero4, .hero5 {display: block}
.hero-bg1, .hero6, .hero7{display:none}
.hero2 {top :3%; left: 3%;}
.hero3 {bottom: 3%; left: 20%;}
.hero4 {top: 2%; right: 20%;}
.hero5 {bottom: 3%; right: 3%;}
} 

@media (min-width: 900px) {
.hero-bg2, .hero3, .hero4, .hero5, .hero6 {display: block}
.hero-bg1, .hero2,  .hero7 {display:none}
.hero3 {top: 3%; left: 3%;}
.hero4 {top: 15%;left: 20%;}
.hero5 {top: 35%; right: 30%;}
.hero6 {bottom: 3%; right: 3%;}
} 

@media (min-width: 1050px) {
.hero-bg2, .hero2, .hero5, .hero6, .hero7 {display: block}
.hero-bg1,  .hero3, .hero4 {display:none}
.hero2 {top: 30%; left: 3%;}
.hero5 {top: 3%; left: 30%;}
.hero6 { bottom: 3%; right: 30%;}
.hero7 { top: 30%; right: 3%;}
} 

@media (min-width: 1300px){
.hero-bg1{display: block}
.hero-bg2, .hero2, .hero3, .hero4, .hero5, .hero6, .hero7{display:none}
} 





/* screen larger than 990px */

@media (min-width: 990px) {
  .navbar .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    width: 70%;
  }
  .navbar .mobile-menu {
    display: none;
  }

}


@media (min-width: 992px)  {
    .d2 {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    }
    
}

@media (min-width: 1200px)  {
    .d2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    }
    
}