* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}

.container {
max-width: 900px;
margin: 20px auto;
padding: 20px;
background: coral;
border: 1px solid black;
height: 100vh;
width: 100vw;
}

h1 {
font-family: 7vh; /* rem root proportion  em =upper layer x%*/
padding: 0.3rem 0;
}

p {
font-size: 1rem;
margin: 1rem 0;
}

ul {
font-size: 1.5rem;

}


