* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
  
}

.d1 {

    background-color: cyan;
    text-align: center;
    
}

.d2 {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
font-size: 60px;

}

.d7, .d9, .d10, .d12, .d13, .d14, .d15, .d17, .d18 {
    cursor: pointer;
}


.d7:hover , .d9:hover , .d10:hover , .d12:hover , .d13:hover , .d14:hover , .d15:hover , .d17:hover , .d18:hover {
    transform: scale(1.5);
}
